@import url(//fonts.googleapis.com/css?family=Oldenburg|Permanent+Marker|Ribeye+Marrow);

/* Variables */
$body-font-family: "Oldenburg", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-family: join("Ribeye Marrow", $body-font-family);
$polaroid-font-family: join("Permanent Marker", $body-font-family);

// Define "large and up" media query - copied from Pure default (1024px)
$large-up: "screen and (min-width: 64em)";

$black: #222;
$white: #FFF;
$grey: #333;
$red: #9A3521;
$orange: #FFEFD2;
$primary-colour: $black;
$secondary-colour: $red;
$link-hover-colour: $orange;

$gutter-padding: 0 6.25rem;

/* Mixins */
@mixin header-format {
  color: $primary-colour;
  font-family: $header-font-family;
  font-weight: normal;
  text-decoration: none;
}

@mixin polaroid-position($rot, $transX, $transY) {
  @media #{$large-up} {
    // position: relative;
    // top: $transY;
    // left: $transX;
    a {
      transform: rotate($rot);
      -webkit-transform: rotate($rot);
      -ms-transform:rotate($rot);
      -o-transform:rotate($rot);
    }
  }
}

/* Global styles */
* {
  text-rendering: optimizeLegibility;
}

/* Header styles */
header {
  padding: $gutter-padding;
  h1 {
    font-size: 3.5rem;
    a {
      @include header-format;
    }
  }
  div.pure-menu-horizontal {
    margin-bottom: 0.625rem;
  }
  a.pure-menu-link {
    font-family: $body-font-family;
    font-size: 1.3rem;
    color: $secondary-colour;
    padding: 12px .9375rem;

    &:hover {
      text-decoration: underline;
      background-color: $link-hover-colour;
    }
  }
}

/* Body and section styles */
section {
  &.month, &.picture {
    background: url("/images/natural_paper.png") repeat scroll 0 0 #C2C2A3;
    margin-bottom: 0.6rem;
    box-shadow: 0 10px 5px -5px #222;

    &.future {
      opacity: 0.5;
    }
  }
  h2 {
    @include header-format;
    font-size: 2.5rem;
    border-bottom: solid 1px $red;
    padding: $gutter-padding;
    margin-bottom: .5rem;
    margin-top: .2rem;
  }
  ul.polaroids {
    padding: $gutter-padding;
    margin-bottom: 0;

    // Polaroid effect
    li {
      // Make a pile of polaroids
      &:nth-child(1) {
        @include polaroid-position(-7deg, 70px, 0);
      }
      &:nth-child(2) {
        @include polaroid-position(2deg, 0, 0);
      }
      &:nth-child(3) {
        @include polaroid-position(-22deg, -105px, 32px);
        z-index: 2;
      }
      &:nth-child(4) {
        @include polaroid-position(10deg, 100px, -50px);
      }
      &:nth-child(5) {
        @include polaroid-position(-21deg, 0, -40px);
        z-index: 2;
      }
      &:nth-child(6) {
        @include polaroid-position(22deg, -70px, 25px);
      }
      &:nth-child(7) {
        @include polaroid-position(-11deg, 100px, -50px);
        z-index: 2;
      }
      &:nth-child(8) {
        @include polaroid-position(5deg, -25px, -40px);
      }
      &:nth-child(9) {
        @include polaroid-position(-22deg, -140px, 0px);
        z-index: 2;
      }
      &:nth-child(10) {
        @include polaroid-position(-34deg, 80px, -90px);
      }
      &:nth-child(11) {
        @include polaroid-position(-16deg, -40px, -70px);
        z-index: 2;
      }
      &:nth-child(12) {
        @include polaroid-position(20deg, -130px, -10px);
      }
      &:nth-child(13) {
        @include polaroid-position(-5deg, 90px, -130px);
      }
      &:nth-child(14) {
        @include polaroid-position(17deg, -20px, -80px);
        z-index: 2;
      }
      &:nth-child(15) {
        @include polaroid-position(-5deg, -120px, -60px);
      }
      &:nth-child(16) {
        @include polaroid-position(10deg, 100px, -175px);
      }
      &:nth-child(17) {
        @include polaroid-position(-5deg, -40px, -100px);
      }
      &:nth-child(18) {
        @include polaroid-position(25deg, -150px, -120px);
      }
      &:nth-child(19) {
        @include polaroid-position(-13deg, 50px, -220px);
      }
      &:nth-child(20) {
        @include polaroid-position(10deg, -100px, -170px);
      }
      &:nth-child(21) {
        @include polaroid-position(-10deg, -235px, -185px);
      }
      &:nth-child(22) {
        @include polaroid-position(5deg, 30px, -250px);
      }
      &:nth-child(23) {
        @include polaroid-position(-10deg, -10px, -220px);
      }
      &:nth-child(24) {
        @include polaroid-position(10deg, -110px, -180px);
      }
      &:nth-child(25) {
        @include polaroid-position(-3deg, 50px, -290px);
      }
      &:nth-child(26) {
        @include polaroid-position(7deg, -40px, -290px);
      }
      &:nth-child(27) {
        @include polaroid-position(-4deg, -160px, -220px);
      }
      &:nth-child(28) {
        @include polaroid-position(10deg, 0px, -350px);
      }
      &:nth-child(29) {
        @include polaroid-position(-6deg, -120px, -330px);
      }
      &:nth-child(30) {
        @include polaroid-position(-15deg, -160px, -265px);
      }
      &:nth-child(31) {
        @include polaroid-position(-10deg, 0px, -350px);
      }
      &:nth-child(32) {
        @include polaroid-position(-22deg, -100px, -325px);
      }
      &:nth-child(33) {
        @include polaroid-position(4deg, -220px, -275px);
      }
      &:nth-child(34) {
        @include polaroid-position(4deg, 220px, -430px);
      }
      &:nth-child(35) {
        @include polaroid-position(1deg, 50px, -390px);
      }
      &:nth-child(36) {
        @include polaroid-position(-14deg, -140px, -325px);
      }
      &:nth-child(37) {
        @include polaroid-position(-13deg, -10px, -530px);
      }
      &:nth-child(38) {
        @include polaroid-position(15deg, -160px, -455px);
      }
      &:nth-child(39) {
        @include polaroid-position(-20deg, -305px, -400px);
      }
      &:nth-child(40) {
        @include polaroid-position(5deg, 125px, -485px);
      }
      &:nth-child(41) {
        @include polaroid-position(-25deg, 125px, -485px);
      }
      &:nth-child(42) {
        @include polaroid-position(-4deg, 125px, -485px);
      }
      &:nth-child(43) {
        @include polaroid-position(15deg, 125px, -485px);
      }
      &:nth-child(44) {
        @include polaroid-position(-8deg, 125px, -485px);
      }
      &:nth-child(45) {
        @include polaroid-position(-12deg, 125px, -485px);
      }

      // style the pics
      a:after {
        content: attr(title);
      }
      a {
        background: $white;
        margin: 0 0 27px 30px;
        width: 190px;
        padding: 10px 10px 15px;
        float: left;
        text-align: center;
        font-family: $polaroid-font-family;
        text-decoration: none;
        color: $grey;
        font-size: 18px;
        box-shadow: 0 3px 6px rgba(0,0,0,.25);
        transition-property: transform;
        transition-duration: 0.3s, 0.3s;
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 0.3s, 0.3s;

        img {
          margin-bottom: 12px;
        }

        &:hover {
          transform: scale(1.25, 1.25);
          -ms-transform: scale(1.25, 1.25);
          -moz-transform: scale(1.25, 1.25);
          -webkit-transform: scale(1.25, 1.25);
          -o-transform: scale(1.25, 1.25);
          position: relative;
          z-index: 5;
        }
      }
    }
  }
}

/* Footer styles */
footer {
  padding: $gutter-padding;
  h6 {
    @include header-format;
    font-size: 1rem;
    margin: 0.1rem 0 0.6rem;
  }
}


// @mixin spacing {
//   @media #{$small-only} {
//     // TODO
//   }
//   @media #{$medium-up} {
//     padding: 0 rem-calc(100);
//   }
// }

// @mixin nav-link-hover {
//   text-decoration: underline;
//   background-color: $topbar-link-bg-hover;
// }

// @mixin polaroid-position($rot, $transX, $transY) {
//   @media #{$large-up} {
//     // position: relative;
//     // top: $transY;
//     // left: $transX;
//     a {
//       transform: rotate($rot);
//       -webkit-transform: rotate($rot);
//       -ms-transform:rotate($rot);
//       -o-transform:rotate($rot);
//     }
//   }
// }

// @mixin last-row {
//   @media #{$large-up} {
//     margin-bottom: -250px;
//   }
// }

// section.right a.right-off-canvas-toggle { margin-right: rem-calc(20); }

// .row {

//   h1 {
//     @include spacing;
//     margin: rem-calc(25) 0;
//   }

//   nav {
//     @include spacing;
//     .month-navigation ul li a {
//       @media only screen and (max-width: 1140px) {
//         font-size: rem-calc(16);
//       }
//       @media only screen and (min-width: 620px) and (max-width: 990px) {
//         font-size: rem-calc(12);
//       }
//       &:hover {
//         text-decoration: underline;
//       }
//     }
//   }

//   &.month, &.picture {
//     background: url("/images/natural_paper.png") repeat scroll 0 0 #C2C2A3;
//     margin-bottom: rem-calc(10);
//     box-shadow: 0 10px 5px -5px #222;

//     &.future {
//       opacity: 0.5;
//     }

//     h2 {
//       @include spacing;
//       border-bottom: solid 1px #9a3521;
//     }

//     div.images {
//       @include spacing;

//       ul.polaroids li {
//         &:nth-last-child(-n + 3) {
//           // @include last-row;
//         }

//         // make a pile of polaroids
//         &:nth-child(1) {
//           @include polaroid-position(-7deg, 70px, 0);
//         }
//         &:nth-child(2) {
//           @include polaroid-position(2deg, 0, 0);
//         }
//         &:nth-child(3) {
//           @include polaroid-position(-22deg, -105px, 32px);
//           z-index: 2;
//         }
//         &:nth-child(4) {
//           @include polaroid-position(10deg, 100px, -50px);
//         }
//         &:nth-child(5) {
//           @include polaroid-position(-21deg, 0, -40px);
//           z-index: 2;
//         }
//         &:nth-child(6) {
//           @include polaroid-position(22deg, -70px, 25px);
//         }
//         &:nth-child(7) {
//           @include polaroid-position(-11deg, 100px, -50px);
//           z-index: 2;
//         }
//         &:nth-child(8) {
//           @include polaroid-position(5deg, -25px, -40px);
//         }
//         &:nth-child(9) {
//           @include polaroid-position(-22deg, -140px, 0px);
//           z-index: 2;
//         }
//         &:nth-child(10) {
//           @include polaroid-position(-34deg, 80px, -90px);
//         }
//         &:nth-child(11) {
//           @include polaroid-position(-16deg, -40px, -70px);
//           z-index: 2;
//         }
//         &:nth-child(12) {
//           @include polaroid-position(20deg, -130px, -10px);
//         }
//         &:nth-child(13) {
//           @include polaroid-position(-5deg, 90px, -130px);
//         }
//         &:nth-child(14) {
//           @include polaroid-position(17deg, -20px, -80px);
//           z-index: 2;
//         }
//         &:nth-child(15) {
//           @include polaroid-position(-5deg, -120px, -60px);
//         }
//         &:nth-child(16) {
//           @include polaroid-position(10deg, 100px, -175px);
//         }
//         &:nth-child(17) {
//           @include polaroid-position(-5deg, -40px, -100px);
//         }
//         &:nth-child(18) {
//           @include polaroid-position(25deg, -150px, -120px);
//         }
//         &:nth-child(19) {
//           @include polaroid-position(-13deg, 50px, -220px);
//         }
//         &:nth-child(20) {
//           @include polaroid-position(10deg, -100px, -170px);
//         }
//         &:nth-child(21) {
//           @include polaroid-position(-10deg, -235px, -185px);
//         }
//         &:nth-child(22) {
//           @include polaroid-position(5deg, 30px, -250px);
//         }
//         &:nth-child(23) {
//           @include polaroid-position(-10deg, -10px, -220px);
//         }
//         &:nth-child(24) {
//           @include polaroid-position(10deg, -110px, -180px);
//         }
//         &:nth-child(25) {
//           @include polaroid-position(-3deg, 50px, -290px);
//         }
//         &:nth-child(26) {
//           @include polaroid-position(7deg, -40px, -290px);
//         }
//         &:nth-child(27) {
//           @include polaroid-position(-4deg, -160px, -220px);
//         }
//         &:nth-child(28) {
//           @include polaroid-position(10deg, 0px, -350px);
//         }
//         &:nth-child(29) {
//           @include polaroid-position(-6deg, -120px, -330px);
//         }
//         &:nth-child(30) {
//           @include polaroid-position(-15deg, -160px, -265px);
//         }
//         &:nth-child(31) {
//           @include polaroid-position(-10deg, 0px, -350px);
//         }
//         &:nth-child(32) {
//           @include polaroid-position(-22deg, -100px, -325px);
//         }
//         &:nth-child(33) {
//           @include polaroid-position(4deg, -220px, -275px);
//         }
//         &:nth-child(34) {
//           @include polaroid-position(4deg, 220px, -430px);
//         }
//         &:nth-child(35) {
//           @include polaroid-position(1deg, 50px, -390px);
//         }
//         &:nth-child(36) {
//           @include polaroid-position(-14deg, -140px, -325px);
//         }
//         &:nth-child(37) {
//           @include polaroid-position(-13deg, -10px, -530px);
//         }
//         &:nth-child(38) {
//           @include polaroid-position(15deg, -160px, -455px);
//         }
//         &:nth-child(39) {
//           @include polaroid-position(-20deg, -305px, -400px);
//         }
//         &:nth-child(40) {
//           @include polaroid-position(5deg, 125px, -485px);
//         }
//         &:nth-child(41) {
//           @include polaroid-position(-25deg, 125px, -485px);
//         }
//         &:nth-child(42) {
//           @include polaroid-position(-4deg, 125px, -485px);
//         }
//         &:nth-child(43) {
//           @include polaroid-position(15deg, 125px, -485px);
//         }
//         &:nth-child(44) {
//           @include polaroid-position(-8deg, 125px, -485px);
//         }
//         &:nth-child(45) {
//           @include polaroid-position(-12deg, 125px, -485px);
//         }


//         // style the pics
//         a:after {
//           content: attr(title);
//         }
//         a {
//           background: #fff;
//           margin: 0 0 27px 30px;
//           width: 210px;
//           padding: 10px 10px 15px;
//           display: inline;
//           float: left;
//           text-align: center;
//           font-family: join("Permanent Marker", $body-font-family);
//           text-decoration: none;
//           color: #333;
//           font-size: 18px;
//           box-shadow: 0 3px 6px rgba(0,0,0,.25);
//           transition-property: transform;
//           transition-duration: 0.3s, 0.3s;
//           -webkit-transition-property: -webkit-transform;
//           -webkit-transition-duration: 0.3s, 0.3s;

//           img {
//             display: block;
//             width: 190px;
//             margin-bottom: 12px;
//           }

//           &:hover {
//             transform: scale(1.25, 1.25);
//             -ms-transform: scale(1.25, 1.25);
//             -moz-transform: scale(1.25, 1.25);
//             -webkit-transform: scale(1.25, 1.25);
//             -o-transform: scale(1.25, 1.25);
//             position: relative;
//             z-index: 5;
//           }
//         }
//       } // ul.polaroids li
//     } // div.images

//     // full page image
//     .date {
//       @include spacing;

//       a {
//         padding: 10px 15px;
//         &:hover {
//           @include nav-link-hover;
//         }
//       }
//     }
//     figure {
//       @include spacing;

//       img {
//         margin-bottom: rem-calc(20);
//       }

//       figcaption a {
//         color: $secondary-colour;
//         &:hover {
//           text-decoration: underline;
//         }
//       }
//     }
//     nav ul li a {
//       padding: rem-calc(10);
//       &:hover {
//         @include nav-link-hover;
//       }
//     }
//   } // &.month, &.picture
// } // .row

// footer {
//   @include spacing;
// }
