<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="tom natt"/>
    <meta name="description" content="homepage of Tom Natt's site"/>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" type="text/css" href="/css/yearofchange.css" title="Default" />

</head>
<body>

    <header class="row">
        <h1>Year of change</h1>
        <nav>
            <ul class="inline-list">
                <li><a href="#january">January</a></li>
                <li><a href="#february">February</a></li>
                <li><a href="#march">March</a></li>
                <li><a href="#april">April</a></li>
                <li><a href="#may">May</a></li>
                <li><a href="#june">June</a></li>
                <li><a href="#july">July</a></li>
                <li><a href="#august">August</a></li>
                <li><a href="#september">September</a></li>
                <li><a href="#october">October</a></li>
                <li><a href="#november">November</a></li>
                <li><a href="#december">December</a></li>
            </ul>
        </nav>
    </header>
    
    {{ content }}

    <footer class="row">
        <h6>And a little footer</h6>
    </footer>
        
</body>
</html>
