---
layout: layout
---

<section class="picture">
  <h2>{{ page.pictures.title }}</h2>
  <p class="date">
    <a href="/{{ page.index }}#{{ page.pictures.month }}">{{ page.pictures.month | capitalize }}</a> - {{ page.pictures.photographer }}
  </p>
  <figure>
    <img src="/images/{{ page.pictures.year}}/{{ page.pictures.image_filename }}" alt="{{ page.pictures.alt }}" />
    <figcaption>{{ page.pictures.description }}</figcaption>
  </figure>

  <nav class="picture-nav pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="{{ page.pictures.prev }}">&lt; Previous</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="{{ page.pictures.next }}">Next &gt;</a></li>
    </ul>
  </nav>
</section>
