---
layout: layout
---

<div class="row picture">

  <h2>{{ page.image_title }}</h2>
  <p class="date"><a href="/{{ page.index }}#{{ page.month }}">{{ page.month | capitalize }}</a> - {{ page.photographer | capitalize }}</p>
  <figure>
    <img src="/images/{{ page.year}}/{{ page.image }}" alt="{{ page.alt }}">
    <figcaption>{{ page.description }}</figcaption>
  </figure>

</div>

<div class="row picture-navigation">
  <ul>
    <li><a href="{{ page.previous }}">Previous</a></li>
    <li><a href="{{ page.next }}">Next</a></li>
  </ul>
</div>
