---
layout: layout
---

<section class="picture">
  <h2>{{ page.image_title }}</h2>
  <p class="date"><a href="/{{ page.index }}#{{ page.month }}">{{ page.month | capitalize }}</a> - {{ page.photographer }}</p>
  <figure>
    <img src="/images/{{ page.year}}/{{ page.image }}" alt="{{ page.alt }}">
    <figcaption>{{ page.description }}</figcaption>
  </figure>

  <nav class="picture-nav pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="{{ page.previous }}">&lt; Previous</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="{{ page.next }}">Next &gt;</a></li>
    </ul>
  </nav>
</section>
