---
layout: layout
---

<div class="row picture">

  <h2>{{ page.image_title }}</h2>
  <p class="date"><a href="/{{ page.index }}#{{ page.month }}">{{ page.month | capitalize }}</a> - {{ page.photographer }}</p>
  <figure>
    <img src="/images/{{ page.year}}/{{ page.image }}" alt="{{ page.alt }}">
    <figcaption>{{ page.description }}</figcaption>
  </figure>

  <nav class="small-6 small-centered columns">
    <ul class="inline-list">
      <li><a href="{{ page.previous }}">&lt; Previous</a></li>
      <li><a href="{{ page.next }}">Next &gt;</a></li>
    </ul>
  </nav>
</div>
